.filter-option {
  text-align: left;
}

.crime-card {
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  margin: 1rem 0;
  text-align: left;
}

.reward-btn:disabled {
  border-color: green;
  background-color: green;
}


.crime-map {
  margin: auto;
  padding-top: 10px;
  height: 70vh;
  width: 90%;
  text-align: left;
}

.crime-map__info-window img {
  width: 100pt;
  text-align: center;
}

.crime-map__info-window p {
  font-size: 14px;
  margin-bottom: 0.25rem;
  text-align: center;
}